/* 技巧五：预留衔接空间消除渐变产生的锯齿 */
.box-1 {
  width: 400px;
  height: 400px;
  /* 当然，这里的 0.3% 不是写死的，需要根据具体使用的情况灵活调试，可以多调试选取既不会看出模糊，又能尽可能消除锯齿的一个范围幅度。 */
  background: radial-gradient( #9c27b0 0%, #9c27b0 47%, #ffeb37 47.3%, #ffeb37 100%);
}